QPushButton {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 0px;
  padding: 1px 9px 1px 9px;
  min-height: 17px;
  min-width: 50px;
  text-align: center;
}

QLineEdit, QListView {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 0px;
  padding: 1px 3px 1px 3px;
  min-height: 17px;
  min-width: 17px;
  text-align: center;
  selection-background-color: #3399ff;
  selection-color: white;
}

QToolButton {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 0px;
  text-align: center;
}

QPushButton:disabled, QLineEdit:disabled, QListView:disabled, QToolButton:disabled {
  border: 1px solid #dedede;
  background-color: #fafafa;
}

QPushButton:default, QToolButton:default {
  border-color: #4b4b4b;
}

QPushButton:hover, QToolButton:hover, QPushButton:active:focus, QToolButton:active:focus, QLineEdit:active:focus {
  border-color: #1e76e3;
}

QPushButton:pressed, QToolButton:pressed, QPushButton:checked:active:focus, QToolButton:checked:active:focus {
  border-color: #1e76e3;
  background-color: #bfbfbf;
}

QPushButton:checked, QToolButton:checked {
  border-color: #1e76e3;
  background-color: #bfbfbf;
}

QPushButton:checked:disabled, QToolButton:checked:disabled {
  border-color: #1e76e3;
  background-color: #fafafa;
}

QPushButton:flat, QToolButton:flat {
  border: none;
}

QCheckBox::indicator, QTreeView::indicator, QTableView::indicator, QGroupBox::indicator, QRadioButton::indicator {
  width: 14px;
  height: 14px;
  margin: 1px;
}

QMenu::indicator:non-exclusive, QMenu::indicator:exclusive {
  width: 14px;
  height: 14px;
  margin: 1px 1px 1px 3px;
}

QCheckBox::indicator:unchecked, QTreeView::indicator:unchecked, QTableView::indicator:unchecked, QGroupBox::indicator:unchecked {
  border: 1px solid #cccccc;
  margin: 0px;
  background-color: palette(base);
  border-radius: 2.75px;
}

QMenu::indicator:non-exclusive:unchecked {
  border: 1px solid #cccccc;
  margin: 0px 0px 0px 2px;
  background-color: palette(base);
  border-radius: 2.75px;
}

QCheckBox::indicator:unchecked:hover, QTreeView::indicator:unchecked:hover, QTableView::indicator:unchecked:hover, QGroupBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:active:focus, QTreeView::indicator:unchecked:active:focus, QTableView::indicator:unchecked:active:focus, QGroupBox::indicator:unchecked:active:focus {
  border-color: #1e76e3;
}

QCheckBox::indicator:unchecked:pressed, QTreeView::indicator:unchecked:pressed, QTableView::indicator:unchecked:pressed, QGroupBox::indicator:unchecked:pressed {
  border-color: #1e76e3;
  background-color: #b5b5b5;
}

QCheckBox::indicator:unchecked:disabled, QTreeView::indicator:unchecked:disabled, QTableView::indicator:unchecked:disabled, QGroupBox::indicator:unchecked:disabled {
  border-color: #dedede;
  background-color: #fafafa;
}

QCheckBox::indicator:checked, QTreeView::indicator:checked, QTableView::indicator:checked, QGroupBox::indicator:checked,
QCheckBox::indicator:indeterminate, QTreeView::indicator:indeterminate, QTableView::indicator:indeterminate, QGroupBox::indicator:indeterminate,
QMenu::indicator:non-exclusive:checked {
  background-color: #6c6c6c;
  border-radius: 1.75px;
}

QCheckBox::indicator:checked, QTreeView::indicator:checked, QTableView::indicator:checked, QGroupBox::indicator:checked,
QMenu::indicator:non-exclusive:checked {
  image: url(:/light_scheme/icons/checkbox_checked.svg);
}

QCheckBox::indicator:indeterminate, QTreeView::indicator:indeterminate, QTableView::indicator:indeterminate, QGroupBox::indicator:indeterminate {
  image: url(:/light_scheme/icons/checkbox_indeterminate.svg);
}

QCheckBox::indicator:checked:hover, QTreeView::indicator:checked:hover, QTableView::indicator:checked:hover, QGroupBox::indicator:checked:hover,
QCheckBox::indicator:indeterminate:hover, QTreeView::indicator:indeterminate:hover, QTableView::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover,
QCheckBox::indicator:checked:active:focus, QTreeView::indicator:checked:active:focus, QTableView::indicator:checked:active:focus, QGroupBox::indicator:checked:active:focus,
QCheckBox::indicator:indeterminate:active:focus, QTreeView::indicator:indeterminate:active:focus, QTableView::indicator:indeterminate:active:focus,
QGroupBox::indicator:indeterminate:active:focus {
  border: 1px solid #1e76e3;
  margin: 0px;
  border-radius: 2.75px;
}

QCheckBox::indicator:checked:pressed, QTreeView::indicator:checked:pressed, QTableView::indicator:checked:pressed, QGroupBox::indicator:checked:pressed,
QCheckBox::indicator:indeterminate:pressed, QTreeView::indicator:indeterminate:pressed, QTableView::indicator:indeterminate:pressed, QGroupBox::indicator:indeterminate:pressed {
  border: 1px solid #1e76e3;
  margin: 0px;
  border-radius: 2.75px;
  background-color: #555555;
}

QCheckBox::indicator:checked:pressed, QTreeView::indicator:checked:pressed, QTableView::indicator:checked:pressed, QGroupBox::indicator:checked:pressed {
  image: url(:/light_scheme/icons/checkbox_checked_pressed.svg);
}

QCheckBox::indicator:indeterminate:pressed, QTreeView::indicator:indeterminate:pressed, QTableView::indicator:indeterminate:pressed, QGroupBox::indicator:indeterminate:pressed {
  image: url(:/light_scheme/icons/checkbox_indeterminate_pressed.svg);
}

QCheckBox::indicator:checked:disabled, QTreeView::indicator:checked:disabled, QTableView::indicator:checked:disabled, QGroupBox::indicator:checked:disabled,
QCheckBox::indicator:indeterminate:disabled, QTreeView::indicator:indeterminate:disabled, QTableView::indicator:indeterminate:disabled, QGroupBox::indicator:indeterminate:disabled {
  background-color: #b5b5b5;
}

QCheckBox::indicator:checked:disabled, QTreeView::indicator:checked:disabled, QTableView::indicator:checked:disabled, QGroupBox::indicator:checked:disabled {
  image: url(:/light_scheme/icons/checkbox_checked_disabled.svg);
}

QCheckBox::indicator:indeterminate:disabled, QTreeView::indicator:indeterminate:disabled, QTableView::indicator:indeterminate:disabled, QGroupBox::indicator:indeterminate:disabled {
  image: url(:/light_scheme/icons/checkbox_indeterminate_disabled.svg);
}

QRadioButton::indicator:unchecked {
  border: 1px solid #cccccc;
  margin: 0px;
  background-color: palette(base);
  border-radius: 7.75px;
}

QMenu::indicator:exclusive:unchecked {
  border: 1px solid #cccccc;
  margin: 0px 0px 0px 2px;
  background-color: palette(base);
  border-radius: 7.75px;
}

QRadioButton::indicator:unchecked:hover, QRadioButton::indicator:unchecked:active:focus {
  border-color: #1e76e3;
}

QRadioButton::indicator:unchecked:pressed {
  border-color: #1e76e3;
  background-color: #b5b5b5;
}

QRadioButton::indicator:unchecked:disabled {
  border-color: #dedede;
  background-color: #fafafa;
}

QRadioButton::indicator:checked,
QMenu::indicator:exclusive:checked {
  background-color: #6c6c6c;
  border-radius: 6.75px;
  image: url(:/light_scheme/icons/radiobutton_checked.svg);
}

QRadioButton::indicator:checked:hover, QRadioButton::indicator:checked:active:focus {
  border: 1px solid #1e76e3;
  margin: 0px;
  border-radius: 7.75px;
}

QRadioButton::indicator:checked:pressed {
  border: 1px solid #1e76e3;
  margin: 0px;
  border-radius: 7.75px;
  background-color: #555555;
  image: url(:/light_scheme/icons/radiobutton_checked_pressed.svg);
}

QRadioButton::indicator:checked:disabled {
  background-color: #b5b5b5;
  image: url(:/light_scheme/icons/radiobutton_checked_disabled.svg);
}

QProgressBar {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 6.75px;
  height: 14px;
  text-align: center;
}

QProgressBar::chunk {
  background-color: #5d9bf3;
  border-radius: 6.75px;
}

QGroupBox {
  background-color: palette(window);
  border: 1px solid #d1d1d1;
  border-radius: 0px;
  margin-top: 8px;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top center;
  margin: 0px 4px 0px 4px
}

QGraphicsView, ImageViewBase, QFrame#imageViewFrame {
  background-color: #939393;
  background-attachment: scroll;
  border: none;
}

QGraphicsView {
  margin: 1px 1px 1px 1px;
}

QGroupBox#recentProjectsGroup {
  background-color: transparent;
  border: 1px solid #1e76e3;
  border-radius: 0px;
  margin-top: 14px;
  color: #000000;
}

QGroupBox#recentProjectsGroup::title {
  subcontrol-origin: margin;
  subcontrol-position: top center;
  margin: 0px 4px 0px 4px;
}

QMenuBar {
  background-color: palette(window);
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 1px;
}

QMenuBar::item {
  spacing: 2px;
  padding: 1px 3px 1px;
  background: transparent;
  border-radius: 1.75px;
  margin-bottom: 3px;
}

QMenuBar::item:selected {
   border: 1px solid #dbdbdb;
  background-color: #fafafa;
}

QMenuBar::item:pressed {
   border: 1px solid #dbdbdb;
  background-color: #bfbfbf;
}

QMenu {
  background-color: palette(base);
  padding: 2px 4px 2px 4px;
}

QMenu::separator {
  height: 1px;
  background: #bfbfbf;
  margin-left: 5px;
  margin-right: 5px;
}

QMenu::item {
  padding: 1px 14px 1px 20px;
  height: 24px;
  margin: 1px 0px 1px 0px;
}

QMenu::item:disabled {
  background-color: #fafafa;
  color: #909090;
}

QMenu::item:selected {
  background-color: palette(highlight);
  color: palette(highlighted-text);
}

QDockWidget::title {
  background-color: #dbdbdb;
  border: 1px solid #cccccc;
  text-align: center;
}

QDockWidget {
  titlebar-close-icon: url(:/light_scheme/icons/window_close.svg);
  titlebar-normal-icon: url(:/light_scheme/icons/window_restore.svg);
}

QDockWidget:disabled {
  titlebar-close-icon: url(:/light_scheme/icons/window_close_disabled.svg);
  titlebar-normal-icon: url(:/light_scheme/icons/window_restore_disabled.svg);
}

QDockWidget > QWidget {
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom: none;
}

QDockWidget::close-button, QDockWidget::float-button {
  padding: 0px;
  min-width: 12px;
  min-height: 12px;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover, QDockWidget::close-button:active:focus, QDockWidget::float-button:active:focus {
  background-color: #ebebeb;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
  background-color: #bfbfbf;
}

QScrollBar:vertical {
  background: #e3e3e3;
  border: none;
  width: 17px;
  margin: 0px;
}

QScrollBar::handle:vertical {
  background-color: #bdbdbd;
  border: none;
  min-height: 20px;
  margin: 17px 2px 17px 2px;
}

QScrollBar::add-line:vertical {
  background: transparent;
  height: 17px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
  color: palette(window-text)
}

QScrollBar::sub-line:vertical {
  background: transparent;
  height: 17px;
  subcontrol-position: top;
  subcontrol-origin: margin;
  color: palette(window-text)
}

QScrollBar:horizontal {
  background: #e3e3e3;
  border: none;
  height: 17px;
  margin: 0px;
}

QScrollBar::handle:horizontal {
  background-color: #bdbdbd;
  border: none;
  min-width: 20px;
  margin: 2px 17px 2px 17px;
}

QScrollBar::add-line:horizontal {
  background: transparent;
  width: 17px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  background: transparent;
  width: 17px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed, QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed {
  background: #d9d9d9;
}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal, QScrollBar:down-arrow:vertical, QScrollBar::up-arrow:vertical {
  width: 17px;
  height: 17px;
  background: transparent;
  border: none;
}

QScrollBar:left-arrow:horizontal {
  image: url(:/light_scheme/icons/scroll_bar_left_arrow.svg);
}

QScrollBar::right-arrow:horizontal {
  image: url(:/light_scheme/icons/scroll_bar_right_arrow.svg);
}

QScrollBar:down-arrow:vertical {
  image: url(:/light_scheme/icons/scroll_bar_down_arrow.svg);
}

QScrollBar::up-arrow:vertical {
  image: url(:/light_scheme/icons/scroll_bar_up_arrow.svg);
}

QTabWidget > QWidget {
  qproperty-drawBase:0;
}

QTabWidget::pane {
  background-color: palette(window);
  border: 1px solid #cccccc;
  qproperty-drawBase:0;
}

QTabWidget::tab-bar {
  top: 1px;
}

QTabBar {
  background-color: transparent;
  border: none;
}

QTabBar::tab {
  padding: 3px 9px 3px 9px;
  min-height: 17px;
  min-width: 17px;
  background-color: #dbdbdb;
  border: 1px solid #cccccc;
}

QTabBar::tab:!first {
  border-left-width: 0px;
}

QTabBar::tab:hover {
  background-color: #ebebeb;
}

QTabBar::tab:selected {
  background-color: palette(window);
  border-bottom-width: 0px;
  padding-bottom: 4px;
}

output--TabbedImageView::tab-bar {
  left: 0px;
  right: 0px;
  top: 0px;
}

output--TabbedImageView > QTabBar::tab {
  padding: 9px 3px 9px 3px;
  min-height: 17px;
  min-width: 17px;
}

output--TabbedImageView > QTabBar::tab:!first {
  border-left-width: 1px;
  border-top-width: 0px;
}

output--TabbedImageView > QTabBar::tab:selected {
  border-bottom-width: 1px;
  padding-bottom: 9px;
  border-left-width: 0px;
  padding-left: 4px;
}

QComboBox {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 2.75px;
  padding: 1px 0px 1px 8px;
  min-height: 17px;
  min-width: 17px;
  selection-background-color: #3399ff;
  selection-color: white;
}

QComboBox:editable {
  padding-left: 1px;
}

QComboBox:disabled, QAbstractSpinBox:disabled {
  border: 1px solid #dedede;
  background-color: #fafafa;
}

QComboBox:hover, QComboBox:active:focus, QAbstractSpinBox:active:focus {
  border-color: #1e76e3;
}

QComboBox:on {
  border-color: #1e76e3;
  background-color: #bfbfbf;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: bottom right;
  width: 18px;
  background: transparent;
  border: none;
}

QComboBox::down-arrow {
  image: url(:/light_scheme/icons/down_arrow.svg);
}

QComboBox QAbstractItemView {
  border: none;
  padding: 1px 1px 1px 1px;
  selection-background-color: #3399ff;
  selection-color: white;
}

QAbstractSpinBox {
  border: 1px solid #cccccc;
  background-color: palette(base);
  border-radius: 0px;
  padding: 1px 3px 1px 3px;
  min-height: 17px;
  selection-background-color: #3399ff;
  selection-color: white;
}

QAbstractSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  padding-top: 4px;
  padding-right: 1px;
  width: 14px;
  background: transparent;
  border: none;
}

QAbstractSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  padding-bottom: 4px;
  padding-right: 1px;
  width: 14px;
  background: transparent;
  border: none;
}

QAbstractSpinBox::down-arrow {
  image: url(:/light_scheme/icons/down_arrow.svg);
}

QAbstractSpinBox::up-arrow {
  image: url(:/light_scheme/icons/up_arrow.svg);
}

QAbstractSpinBox::down-arrow:pressed {
  image: url(:/light_scheme/icons/down_arrow_pressed.svg);
}

QAbstractSpinBox::up-arrow:pressed {
  image: url(:/light_scheme/icons/up_arrow_pressed.svg);
}

QSlider:horizontal {
  margin: 2px 1px 8px 1px;
}

QSlider::groove:horizontal {
  border: none;
  height: 6px;
  background-color: #cccccc;
}

QSlider::handle:horizontal {
  top: 15px;
  height: 13px;
  width: 12px;
  margin: -13px 0px;
  image: url(:/light_scheme/icons/slider_handle.svg);
}

QSlider::handle:disabled {
  image: none;
}

QToolTip {
  color: #000000;
  background-color: #ffffcd;
  border: 1px solid #000000;
  border-radius: 0px;
}

QStatusBar {
  background-color: #dbdbdb;
  color: palette(window-text);
}

QTreeView, QTableView {
  alternate-background-color: palette(window);
  background: palette(base);
  border: 1px solid #cccccc;
}

QTreeView QHeaderView::section, QTableView QHeaderView::section {
  background: #dbdbdb;
  border-style: none;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-left: 4px;
  padding-top: 1px;
  min-height: 17px;
  min-width: 11px;
}

QTreeView::item:selected:disabled, QTableView::item:selected:disabled {
  background: #dfdfdf;
}

QTreeView::branch {
  background-color: palette(base);
}

QTreeView::branch:has-siblings:!adjoins-item {
  border-image: url(:/light_scheme/icons/vline.svg) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
  border-image: url(:/light_scheme/icons/branch_more.svg) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
  border-image: url(:/light_scheme/icons/branch_end.svg) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
  border-image: none;
  image: url(:/light_scheme/icons/branch_closed.svg);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
  border-image: none;
  image: url(:/light_scheme/icons/branch_open.svg);
}
